
.div-error{
    border: 14px solid rgb(130, 188, 167);
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 510px;
    margin-top: 20px;  
    border-radius: 8px;
}

.titulo{
    margin-top: -60px;
    height: 200px;
    
}

.grande{
    font-size: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(178, 221, 205);
    color: linear-gradient(90deg, rgba(212,218,186,1) 15%, rgba(150,185,167,1) 49%, rgba(36,118,86,1) 79%);
}

#texto-arriba{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
}

#texto-abajo{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 34px;
}

.botones{
    padding: 8px;
    border-radius: 20px;
    border: 3px solid rgb(178, 221, 205);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 180px;
}

#boton1{
    margin-right: 30px;
    background-color: rgb(178, 221, 205);

}
