.footer {
    width: 100vw !important;
    bottom: 0;
    background-color: red;
    margin-top: 50px;
  }
  
  .footerMapa {
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .footerRedes {
    width: 100vw;
    height: 50vh;
    align-items: center;
  }
  
  .logoFooter{
    width: 150px;
    border-radius: 100px;
    margin-top: 50px;
    margin-left: 40px;
  }
  
  .listaFooter{
    margin-top: 50px;
    margin-right: 50px;
  }
  
  .listaFooter ul li{
    margin-top: 10px;
    margin-right: 30px;
  }
  
  
  .iconosRedes{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-right: 55px;
  }
  
  .iconoRedes{
    font-size: 30px;
    color: white;
    margin: 10px;
  }