.accesoMenu {
    list-style: none;
    margin-right: 22px;
    margin-top: 35px;
    text-decoration: none;
}

.linkMenu a {
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    color: rgb(51, 110, 93);
}

/* =============================================================== */

@media screen and (min-width: 280px) and (max-width: 285px) {
    .linkMenu a {
        text-decoration: none;
        font-size: medium;
        font-weight: 500;
        margin: 10px;
    }
    .text-menu{
        font-size: 25px;
    }
    .cartaaaa-menu{
        width: 240px !important;
    }
    .card-footer{
        height: 120px;
    }
    .card-button{
        width: 50px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .svg-icon{
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {}

@media screen and (min-width: 360px) and (max-width: 361px) {}

@media screen and (min-width: 375px) and (max-width: 424px) {}

@media screen and (min-width: 375px) and (max-width: 667px) {}

@media screen and (min-width: 412px) and (max-width: 413px) {}

@media screen and (min-width: 414px) and (max-width: 420px) {}

@media screen and (min-width: 425px) and (max-width: 767px) {}

@media screen and (min-width: 540px) and (max-width: 541px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 820px) and (max-width: 821px) {}

@media screen and (min-width: 912px) and (max-width: 913px) {}

@media screen and (min-width: 1024px) and (max-width: 1440px) {}

@media screen and (min-width: 1280px) and (max-width: 1281px) {}

@media screen and (min-width: 1440px) and (max-width: 1441px) {}