#nav {
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 17px;
    margin-top: 1% !important;
    border-top-left-radius: 5cqw;
    border-top-right-radius: 5cqw;
    border-bottom-left-radius: 5cqw;
    border-bottom-right-radius: 5cqw;
    position: sticky !important;
}

.link {
    color: #333131;
}

.logo {
    margin-right: 3% !important;
    margin-left: 1% !important;
    width: 130px;
}

.carrito {
    width: 40px;
    margin-right: 2% !important;
}

#hamburguesa {
    margin-right: 2% !important;
}