*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    position: relative;
}

.text-menu{
    font-weight: 700 !important;
    margin-top: 5%;
    color: rgb(51, 110, 93);
    -webkit-transition: color 1s linear;
    transition: color 1s linear;
}
.text-menu:hover{
    color: #161616;
}


.card {
    margin: 0 auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #000000;
}
.card-info::-webkit-scrollbar {
    display: none !important;
}
.card-footer::-webkit-scrollbar{
    display: none !important;
}

.imagen-tarjeta-menu {
    border-radius: .5rem;
    transition: .3s ease;
    height: 40%;
    width: 100%;
    background-color: #86B6A3;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    border: 1px solid rgb(47, 87, 74) !important;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    border-radius: 100px !important;
    transition: .5s ease-in-out;
    background-color: rgb(47, 87, 74) !important;
    margin-left: 2% !important;
}

svg-icon{
    margin: auto !important;
}

/*Hover*/
<<<<<<< HEAD
/*.imagen-tarjeta-menu:hover {
    transform: translateY(-25%);
=======
.card-img:hover {
    transform: translateY(-25px);
>>>>>>> 8b05598e820ee68fcc04b48a1acf4669c1c4d0ea
    box-shadow: rgba(39, 39, 39, 0.25) 0px 13px 47px -5px, rgba(88, 88, 88, 0.795) 0px 8px 16px -8px;
}*/

.card-button:hover {
    border: 1px solid rgb(79, 117, 105) !important;
    background-color: rgb(66, 102, 91) !important;
}

/*********************************************************/
@media screen and (min-width: 360px) and (max-width: 640px) {

    /*(móvil pequeño)*/
    .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .card-button {
        border: 1px solid rgb(47, 87, 74) !important;
        display: flex;
        /*padding: .8em;*/
        width: 35% !important;
        cursor: pointer;
        border-radius: 50px;
        transition: .5s ease-in-out;
        background-color: rgb(47, 87, 74) !important;
    }

    svg-icon{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}

@media screen and (min-width: 768px) and (max-width: 1366px) {

    /*(ordenador portátil medio)*/
    .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .card-button {
        border: 1px solid rgb(47, 87, 74) !important;
        display: flex;
        padding: 1rem;
        /*width: 40%;*/
        cursor: pointer;
        border-radius: 50px;
        transition: .5s ease-in-out;
        background-color: rgb(47, 87, 74) !important;
    }

    svg-icon{
        top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);  
    }

}

@media screen and (min-width: 1080px) and (max-width: 1920px) {

    /*(escritorio grande)*/
    .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
}

@media screen and (min-width: 375px) and (max-width: 667px) {

    /*(móvil medio)*/
    .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .card-button {
        border: 1px solid rgb(47, 87, 74) !important;
        display: flex;
        padding: 1rem;
        /*width: 40%;*/
        cursor: pointer;
        border-radius: 50px;
        transition: .5s ease-in-out;
        background-color: rgb(47, 87, 74) !important;
    }

    svg-icon{
        top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {

    /*(escritorio medio)*/
    .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .card-button {
        border: 1px solid rgb(47, 87, 74) !important;
        display: flex;
        padding: 1rem;
        /*width: 50%;*/
        cursor: pointer;
        border-radius: 50px;
        transition: .5s ease-in-out;
        background-color: rgb(47, 87, 74) !important;
    }

    svg-icon{
        top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    }
}

@media screen and (min-width: 720px) and (max-width: 1280px) {

    /*(móvil grande)*/
    .card{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .card-button {
        border: 1px solid rgb(47, 87, 74) !important;
        display: flex;
        padding: 1rem;
        /*width: 40%;*/
        cursor: pointer;
        border-radius: 50px;
        transition: .5s ease-in-out;
        background-color: rgb(47, 87, 74) !important;
    }

    svg-icon{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
