.containerPortada {
    height: 600px;
    margin-top: 1%;
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.imagen_portada_logo {
    margin-top: 10% !important;
    animation: zoom 5s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.titulo-portada {
    color: rgb(0, 0, 0) !important;
    font-family: 'Archivo Black', sans-serif;
    /* margin-top: 10% !important; */
    font-size: 40px;
    -webkit-transition: font-size 1.5s ease;
    transition: font-size 1.5s ease;
}

.tituloo:hover {
    font-size: 40px;
}

.txt-portada {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 19px !important;
}

.container-txt {
    margin-top: 2%;
    margin-left: 6%;
}

.imagen_portada_yunga {
    margin-left: 5%;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.imagen_portada_yunga:hover {
    transform: scale(1.1);
}

.boton-portada {
    width: 30%;
    margin-bottom: 25%;
}

.boton-portada:focus {
    text-decoration: none;
}

.boton-portada:hover {
    color: white !important;
    transition: 2s ease;
}


/*********************************************************/
@media screen and (min-width: 360px) and (max-width: 640px) {

    /*(móvil pequeño)*/
    .containerPortada {
        height: 930px;
        margin-top: 0%;
        background-image: url(../img/fondo-portada3.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .div-portada-cel{
        margin: 0 auto !important;
    }

    .imagen_portada_yunga {
        margin: 0 auto !important;
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .imagen_portada_logo {
        width: 1px;
        margin-top: 1%;
        margin-left: -3%;
        animation: zoom 5s infinite;
    }

    /*.txt-portada{
        background-color: powderblue;
        transition: background-color 0.5s; ESTO DA FONDO AL TEXTO PARA CEL
    }
    .txt-portada:hover{
        background-color: gold;
    }*/

    .container-txt {
        margin: 0 auto !important;
    }
    .boton-portada {
        width: 80% !important;
        height: 6% !important;
        margin-bottom: 25%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1180px) {

    /*(ordenador portátil medio)*/
    .containerPortada {
        height: 600px !important;
        margin-top: 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}


@media screen and (min-width: 375px) and (max-width: 667px) {

    /*(móvil medio)*/
    .containerPortada {
        height: 930px;
        margin-top: 0%;
        background-image: url(../img/fondo-portada2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .div-portada-cel{
        margin: 0 auto !important;
    }

    .imagen_portada_yunga {
        margin: 0 auto !important;
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .imagen_portada_logo {
        width: 1px;
        margin-top: 1%;
        margin-left: -3%;
        animation: zoom 5s infinite;
    }

    .container-txt {
        margin: 0 auto !important;
    }
   
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

    /*(escritorio medio)*/
    .logoPortada{
        display: none;
    }
}

@media screen and (min-width: 720px) and (max-width: 1280px) {

    /*(móvil grande)*/
    .containerPortada {
        height: 800px;
        margin-top: 0%;
        background-image: url(../img/fondo-portada2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .div-portada-cel{
        margin: 0 auto !important;
    }

    .imagen_portada_yunga {
        margin: 0 auto !important;
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .imagen_portada_logo {
        width: 1px;
        margin: 0 auto;
        margin-left: -1%;
        animation: zoom 5s infinite;
    }

    .container-txt {
        margin: 0 auto !important;
    }
}
