.containerPortada {
    height: 600px;
    margin-top: 1%;
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.imagen_portada_logo {
    margin-top: 18%;
    margin-left: -3%;
    animation: zoom 5s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.titulo-portada {
    color: rgb(0, 0, 0) !important;
    font-family: 'Archivo Black', sans-serif;
    /* margin-top: 10% !important; */
    font-size: 40px;
    -webkit-transition: font-size 1.5s ease;
    transition: font-size 1.5s ease;
}

.tituloo:hover {
    font-size: 50px;
}

.txt-portada {
    width: 95%;
    color: rgb(0, 0, 0);
}

.container-txt {
    margin-top: 2%;
    margin-left: 6%;
}

    /* .logoPortadaa,
    .container-txt {
        display: block !important;
        margin-top: 6%;
    } */

/* .logoPortadaa,
.imagen_portada_yunga {
    margin-left: 14%;
    margin-top: 9.5%;
} */

.imagen_portada_yunga {
    margin-left: 5%;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.imagen_portada_yunga:hover {
    transform: scale(1.1);
}

.boton-portada {
    background-color: rgb(175, 141, 101);
    border-color: rgb(175, 141, 101);
    width: 50%;
    margin-bottom: 25%;
}

.boton-portada:focus {
    text-decoration: none;
}

.boton-portada:hover {
    color: white !important;
    background: rgb(190, 153, 110);
    border-color: rgb(190, 153, 110);
    transition: 2s ease;
}