.containerPortada {
    height: 600px;
    margin-top: 1%;
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.imagen_portada_logo {
    margin-top: 10% !important;
    animation: zoom 5s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.titulo-portada {
    color: rgb(0, 0, 0) !important;
    font-family: 'Archivo Black', sans-serif;
    /* margin-top: 10% !important; */
    font-size: 40px;
    -webkit-transition: font-size 1.5s ease;
    transition: font-size 1.5s ease;
}

.tituloo:hover {
    font-size: 40px;
}

.txt-portada {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

.container-txt {
    margin-top: 2%;
    margin-left: 6%;
}

.imagen_portada_yunga {
    margin-left: 5%;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.imagen_portada_yunga:hover {
    transform: scale(1.1);
}

.boton-portada {
    width: 30%;
    margin-bottom: 25%;
}

.boton-portada:focus {
    text-decoration: none;
}

.boton-portada:hover {
    color: white !important;
    transition: 2s ease;
}

.imagen_portada_logo{
    width: 400px;
    margin-left: -90px;
}

.logoPortada{
    margin-top: 5%;
}


/*********************************************************/
@media screen and (min-width: 320px) and (max-width: 374px){
    .containerPortada{
        height: 540px;
        margin-bottom: 2%;
    }
    .container-txt{
        margin: 0 auto;
    }
    .logoPortada{
        display: none;
    }
    .imagen_portada_yunga{
        width: 300px;
        margin-top: 10px;
    }
    .titulo-portada{
        font-size: 30px;
    }
    .txt-portada{
        font-size: medium;
    }
    .boton-portada {
        width: 40%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){
    .containerPortada{
        height: 630px;
        margin-bottom: 2%;
    }
    .container-txt{
        margin: 0 auto;
    }
    .logoPortada{
        display: none;
    }
    .imagen_portada_yunga{
        width: 325px;
        margin-top: -15px;
    }
    .titulo-portada{
        font-size: 30px;
    }
    .txt-portada{
        font-size: medium;
    }
    .boton-portada {
        width: 60%;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .containerPortada{
        height: 690px;
        margin-bottom: 2%;
    }
    .container-txt{
        margin: 0 auto;
    }
    .logoPortada{
        display: none;
    }
    .imagen_portada_yunga{
        width: 350px;
        margin-top: -15px;
    }
    .titulo-portada{
        font-size: 40px;
    }
    .txt-portada{
        font-size: large;
    }
    .boton-portada {
        width: 50%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .containerPortada{
        height: 500px;
        margin-bottom: 2%;
    }
    .container-txt{
        margin: 0 auto;
    }
    .logoPortada{
        display: none;
    }
    .imagen_portada_yunga{
        width: 350px;
        margin-top: -15px;
    }
    .titulo-portada{
        font-size: 40px;
    }
    .txt-portada{
        font-size: large;
    }
    .boton-portada {
        width: 20%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    .containerPortada{
        height: 500px;
        margin-bottom: 2%;
    }
    .container-txt{
        margin: 0 auto;
    }
    .imagen_portada_logo{
        width: 370px;
        margin-left: -110px;
    }
    .logoPortada{
        margin-top: 3%;
    }
    .imagen_portada_yunga{
        width: 350px;
        margin-top: -15px;
    }
    .titulo-portada{
        font-size: 40px;
    }
    .txt-portada{
        font-size: large;
    }
    .boton-portada {
        width: 20%;
    }
}

/* @media screen and (min-width: 360px) and (max-width: 640px) {
    .containerPortada {
        height: 930px;
        margin-top: 0%;
        background-image: url(../img/fondo-portada3.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .div-portada-cel{
        margin: 0 auto !important;
    }

    .imagen_portada_yunga {
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .imagen_portada_logo {
        width: 1px;
        margin-top: 1%;
        margin-left: -3%;
        animation: zoom 5s infinite;
    }
    .container-txt {
        margin: 0 auto !important;
    }
    .boton-portada {
        width: 80% !important;
        height: 6% !important;
        margin-bottom: 25%;
    }
    .logoPortada{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .containerPortada {
        height: 600px !important;
        margin-top: 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .logoPortada{
        display: none;
    }
}


@media screen and (min-width: 375px) and (max-width: 667px) {
    .containerPortada {
        height: 930px;
        margin-top: 0%;
        background-image: url(../img/fondo-portada2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .div-portada-cel{
        margin: 0 auto !important;
    }
    .imagen_portada_yunga {
        margin-left: -20%;
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .imagen_portada_logo {
        width: 1px;
        margin-top: 1%;
        margin-left: -3%;
        animation: zoom 5s infinite;
    }

    .container-txt {
        margin: 0 auto !important;
    }
    .logoPortada{
        display: none;
    }
}


@media screen and (min-width: 720px) and (max-width: 1280px) {
    .containerPortada {
        height: 800px;
        margin-top: 0%;
        background-image: url(../img/fondo-portada2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .div-portada-cel{
        margin: 0 auto !important;
    }

    .imagen_portada_yunga {
        margin: 0 auto !important;
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .imagen_portada_logo {
        width: 1px;
        margin: 0 auto;
        margin-left: -1%;
        animation: zoom 5s infinite;
    }

    .container-txt {
        margin: 0 auto !important;
    }
    .logoPortada{
        display: none;
    }
} */
