*{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.portada{
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 120px;
  overflow-y: hidden;
}

.portada-descripccion{
  overflow-y: hidden;
}

.boton-portada{
  margin-left: 75%;
}

.tarjetaInfo{
  height: 50vh;
  background-color: coral;
  margin-top: 20px;
}

.imagenTarjeta{
  height: 100%;
}

#tarjeta2{
  display: flex;
  background-color: red;
}

.footer {
  width: 100vw !important;
  bottom: 0;
  background-color: red;
  margin-top: 50px;
}

.footerMapa {
  width: 100vw;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footerRedes {
  width: 100vw;
  height: 50vh;
}

.logoFooter{
  width: 150px;
  border-radius: 100px;
  margin-top: 50px;
}

.listaFooter{
  margin-top: 50px;
}

.listaFooter ul li{
  margin-right: 30px;
  margin-top: 10px;
}

#tarjeta2 .uno{
  order: 1;
}

#tarjeta2 .dos{
  order: 0;
}
